@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Tags */
.Discord {
  border: 0.1rem solid #404EED;
}
.Discord:hover {
  background: #404EED;
}

.MaterialUI {
  border: 0.1rem solid #3399FE;
}
.MaterialUI:hover {
  background: #3399FE;
}

.ThreeJS {
  border: 0.1rem solid #000000;
}
.ThreeJS:hover {
  background: #000000;
}

.Bots {
  border: 0.1rem solid #B29648;
}
.Bots:hover {
  background: #B29648;
}

.HTML5 {
  border: 0.1rem solid #E96328;
}
.HTML5:hover {
  background: #E96328;
}

.Javascript {
  border: 0.1rem solid #EFD81A;
}
.Javascript:hover {
  background: #EFD81A;
}

.Phaser {
  border: 0.1rem solid #B28CAD;
}
.Phaser:hover {
  background: #B28CAD;
}

.Tiled {
  border: 0.1rem solid #5665D4;
}
.Tiled:hover {
  background: #5665D4;
}

.ReactJS {
  border: 0.1rem solid #5ED2F3;
}
.ReactJS:hover {
  background: #5ED2F3;
}

.NodeJS {
  border: 0.1rem solid #036E02;
}
.NodeJS:hover {
  background: #036E02;
}

.MySQL {
  border: 0.1rem solid #F29111;
}
.MySQL:hover {
  background: #F29111;
}

.SCSS {
  border: 0.1rem solid #CE649A;
}
.SCSS:hover {
  background: #CE649A;
}

.ReactNative {
  border: 0.1rem solid #5ED2F3;
}
.ReactNative:hover {
  background: #5ED2F3;
}

.Expo {
  border: 0.1rem solid #151718;
}
.Expo:hover {
  background: #151718;
}

.CSS {
  border: 0.1rem solid #30A4D4;
}
.CSS:hover {
  background: #30A4D4;
}