.card {
  background: var(--article-bg);
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  cursor: pointer;
  height: 350px;
  width: 300px;
  margin: 1rem;
}

.card:hover {
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
}

.content {
  padding: 1rem;
  border-radius: 0 0 20px 20px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content p {
  font-size: 0.8rem;
  margin-top: 0.5rem;
  flex-grow: 1;
}

.languages {
  margin-top: 1rem;
}

.languageItem {
  margin: 0.5rem;
  padding: 0.3rem 0.6rem;
  border-radius: 20px;
  font-size: 0.75rem;
  display: inline-block;
  color: white;
}

.cta {
  display: flex;
  gap: 1rem;
}

.underline {
  padding: 0.2rem 0;
  font-size: 0.9rem;
  letter-spacing: 0;
  cursor: pointer;
  color: white;
  text-decoration: none;
  background-image: linear-gradient(
    120deg,
    var(--accent-color) 100%,
    var(--accent-color) 100%
  );
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 88%;
  transition: background-size 0.25s ease-in;
}

.underline:hover {
  background-size: 100% 88%;
}

.language-javascript {
  background-color: #f1e05a;
}

.language-css {
  background-color: #563d7c;
}

.language-html {
  background-color: #e44b23;
}

.language-scss {
  background-color: #00bcd4;
}

.language-csharp {
  background-color: #178600;
}

.language-cplusplus {
  background-color: #6866fb;
}

.language-shaderlab {
  background-color: #222c37;
}

.language-hlsl {
  background-color: #aace60;
}

.language-gap {
  background-color: #0000ff;
}

.language-cmake {
  background-color: #cccccc;
}